body{
  width: 1000px;
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}
header{
  height: 30;
  width: 100%;
  background-color: black;
}
.container{
  height: 10%;
}

.row h6{
  display: inline-block;
}
.container2{
  background-image: url("img/sfondo1.jpg");
  height: 20%; 
}
